@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:host {
    display: block;
    font-family: 'Poppins', sans-serif;
}

/* لمنع اختيار الصور بالماوس */
img {
    -webkit-user-drag: none;
}
.profile-image-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.profile-img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.camera-icon {
  position: absolute;
  bottom: 2px;
  right: 2px;
  background: #1e2e40;
  border-radius: 50%;
  padding: 6px;
  font-size: 16px;
  cursor: pointer;
  line-height: 1;
}


/* تحسين السكرول */
main {
    max-height: 100vh;
    overflow-y: auto;
}